@{
    ViewData["Title"] = "About Us";
}
<h1 style="color:white;">@ViewData["Title"]</h1>

<p style="color:white;">
    PanDelivery is a “mobile-first” web application that allows informal bakers to efficiently sell their baked goods online and their customers to efficiently order without relying on communications via social media accounts. <br />
    The informal bakers list their available baked goods with descriptions and media on the platform. Their customers order from an informal baker on the platform. <br />
    The informal baker will have to update the shipping information manually in order to update the order from “Received” to “Shipped” status. Both types of users are able to track orders on the platform without having to communicate with each other due to the automated processes which used to be manual.<br />
    Both types of users are able to provide feedback for their transactions. The system administrator manages the informal bakers.  The informal bakers must be registered on the platform by the system administrator and their customers must be registered on the platform. <br />
    The web application will be designed using Bootstrap in order to cater to mobile users.
    <br />
    <br />
    PanDelivery is an ENTPROG project with three members. The three members are Samuel, Renee, and Julian.
</p>
