@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="text-center">
        <h1 class="display-4" style="color:white;">PanDelivery</h1>
        <p style="color:white;">With the rise of food delivery applications, informal bakers on social media depend on delivery applications to conduct their deliveries. PanDelivery is a proposed solution to help those businesses thrive in their own niche food delivery application during this pandemic. PanDeliveries are an alternative to the traditional "chat" transactions used by informal bakers on social media with an "all-in-one" platform that has a user-friendly view famously associated with e-commerce platforms.</p>
    </div>
</body>


